#picture{
    padding: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 292px;
    -webkit-transfrom: scaleX(-1);
    transform: scaleX(-1);

}

#resultTextBlock {
    width: 180px;
    height: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 21px;
    text-align: center;
    line-height: 18px;
    color:      #000000;
    background-color:      #FFFFFF;
    display: block;
    margin: 0 auto;
}